header {
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

header > a {
    text-decoration: none;
}

header > a[class='active'] {
    color: deeppink;
    text-decoration: underline;
}

.content {
    margin: 0 auto;
    width: 90vw;
    height: calc(100vh - 79px);
    overflow-y: auto;
}

footer {
    padding-right: 3%;
    background-color: darkgrey;
    color: cornsilk;
    text-align: right;
}