.movies {
    width: 300px;
    padding: 5px;
    border: silver double medium;
    border-radius: 8px;
    margin: 3px 0;
}

.movies > h1 {
    word-wrap: break-word;
}

.movie {
    height: calc(100vh - 77px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movie > h2 {
    max-width: 90%;
    min-width: 500px;
}

.pagesComponent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    margin: 3% 1%;
    padding: 2% 1%;
}

.currentPageNumber, .notCurrentPageNumber {
    padding: 1%;
}

.currentPageNumber {
    border: 4px rgb(2, 143, 187) double;
    border-radius: 4px;
    font-weight: bold;
}

.notCurrentPageNumber:hover {
    font-weight: bold;
    border-radius: 4px;
    color: orangered;
}

/*Genres*/

.genres, .genresDark {
    border-bottom: #1a1919 solid thin;
    margin: 5px;
    padding-bottom: 15px;
    font-weight: bolder;
}

.genresDark {
    border-bottom: white solid thin;
}

/*Login*/

#login {
    position: absolute;
    top: 20%;
    background-color: darkslateblue;
    border-radius: 15px;
    border: double gold thick;
    padding: 2%;
}

#login button, #login input::placeholder, #login input {
    background-color: darkviolet;
    color: white;
}

.loginBTN {
    background-color: transparent;
    filter: invert(1);
    border-radius: 50%;
}

.loginBTN1 {
    border-radius: 20%;
    position: absolute;
    right: 4%;
}